* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #ffffff;
   
}

.container {
    height: 100vh;
    margin: 0;
}

.navbar {
    height: 90px;
    width: 1430px;
    display: flex;
    flex-basis: 100%;
    justify-content: end;
    padding: 20px;
    position: fixed;
    align-items: center;
    box-shadow: 0px 0px 10px black;
    top: 10px;
    z-index: 2;
    border: 0px inset black;
}

.navbar h1 {
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 30px;
    left: 5%;
}

nav {
    display: flex;
    gap: 20px;
    height: 80px;
    align-content: end;
    align-items: end;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: 600;
    transition: .4s;
}

nav a:hover,
nav a.active{
    scale: 1.2;
    /* filter: drop-shadow(100px 10px 10px white);  */
    color: gold;
} 


button{
    border-radius: 100px;
    border-color: black;
    padding: 3px;
    width: 200px;
    height: 50px;
    background-color: black;
    color: #e9e9e9;
    cursor: pointer;
    transition: .4s;
}

.btns .button a{
    background-color: black;
    text-decoration: none;
    color: white;
}


.Homecontent .button:hover {
    scale: 1.1;
    box-shadow: 0px 0px 10px black;
}

#Home .Homecontent {
    text-align: center;
    background-size: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    font-size: 25px;
    padding-top: 240px;
}

.Homecontent h2 {
    display: inline;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 20px;
    background-color: yellow;
    width: 8px;
    height: 70px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.Homecontent h3 {
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Homecontent span {
    color: rgb(0, 0, 0);
    font-size: 1em;
}

.Homecontent .p {
    padding-top: 50px;
    line-height: 20px;
    display: inline;
    background-color: white;
    color: black;
}

#Home {
    border-color: yellow;
    border-width: 30px;
    border-style: solid;
}

#Home .Homecontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 6rem;

}

.home-img {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid yellow;
}






/*==============ABOUT PAGE===============*/
#About {
    padding-top: 60px;
    display: flex;
    position: relative;
    height: 100vh;
    width: 90%;
    padding-top: 200px;
    padding-bottom: 300px;
}

#About .aboutcontent {
    margin-top: 20px;
    margin-left: 100px;
    padding-left: 90px;
    font-size: 2em;
}

#About .aboutcontent h1 {
    color: rgb(211, 211, 57);
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 1.5em;
    padding-bottom: 15px;
}

#About .aboutcontent h3 {
    font-size: 25px;
    font-weight: 700;
    font-size: 3.5em;
    padding-bottom: 50px;
}

.jo {
    font-weight: 800;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.p {
    padding-top: 20px;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
}

#About .aboutcontent .about_img {
    background-color: white;
    border-radius: 50%;
    align-content: end;
}

@media (max-width: 1200px) {
    #About {
        flex-direction: column; 
        padding-bottom: 150px; 
    }

    #About .aboutcontent {
        margin-left: 0; 
        padding-left: 0; 
        text-align: center; 
    }

     #About .about_img {
      height: 100px;
      width: 100px;
      margin: auto;

    }
} 

@media (max-width: 768px) {
    #About .aboutcontent h1 {
        font-size: 1em; /* Smaller size for heading */
    }

    #About .aboutcontent h2 {
        font-size: 1em; 
    }


    .about_description {
        font-size: 0.5em; 
    }
}
@media (max-width: 480px) {
    #About {
        padding-top: 100px; 
        padding-bottom: 100px; 
    }

    #About .aboutcontent {
        font-size: 1em; 
    }

    #About .aboutcontent h1 {
        font-size: 1em;
    }

    #About .aboutcontent h2 {
        font-size: 1em; 
    }

    .about_name {
        font-size: 0.2em; 
    }

    .about_description {
        font-size: 0.5em; 
    }
}

/*================Skills page=============*/
#MySkills {
    border-color: yellow;
    border-width: 3px;
    border-style: solid;
    padding-bottom: 60px;
    background-color: black;
    padding-left: 40px;
    padding-top: 10%;
}

.heading {

    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
}

.skill {
    padding: 20px;
    background-color: black;
    border-radius: 50px;
}

.no {
    border-radius: 50px;
    background-color: yellow;
    color: black;
    padding: 5px;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.topic {
    padding-bottom: px;
    background-color: black;
    color: white;
    display: inline;
    font-size: 25px;
}

.htmlbox {
    width: 80%;
}

.cssbox {
    width: 50%
}

.javascriptbox {
    width: 10%;
}

.pythonbox {
    width: 20%;
}

.mysqlbox {
    width: 40%;
}


/* ===========projects page========== */


#projects{
    text-align: center;
    padding: 2rem;
    padding-top: 10%;
}

#projects h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

#projects p {
    font-size: 1.2em;
}


.projects {
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.projects .project{
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px black;
    text-align: center;

}

.projects .project:hover{
    transform: scale(1.07);
}


.project p {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.project a {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
    background-color: #0056b3;
}


@media (max-width: 600px) {
    .projects {
        grid-template-columns: 1fr;
    }
    .projects img{
        height: 50px;
        width: 50px;
    }
    .project{
        width: auto;
        height: auto; 
    }
    #projects{
        text-align: center;
        padding: 2rem;
        padding-top: 10%;
    }
    
    #projects h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    
    #projects p {
        font-size: 1.2em;
    }
    
    .projects {
        margin-top: 2%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 1rem;
        padding: 1rem;
    }

}

/* ===========contacts page=========== */

#contacts {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}

.heading-contacts {
    color: black;
    padding-top: 10%;
    font-size: 3em;
    text-align: center;
}

#contacts input{
    border: 2px solid black;
    background-color: yellow;
}

.contacts-content {
    max-width: 600px;
    margin: auto;
    margin-top: 2%;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.input-container .form-control{
    border: 2px solid black;
    background-color: yellow;
}

.input-container input,
.input-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-container textarea {
    resize: vertical;
    height: 100px;
    /* Initial height for the textarea */
}



.btn{
    margin-top: 3%;
    margin-left: 35%;
    border-radius: 100px;
    border-color: black;
    padding: 3px;
    width: 200px;
    height: 50px;
    background-color: black;
    color: #e9e9e9;
    cursor: pointer;
    transition: .4s;
}

#contacts .btn:hover {
    scale: 1.1;
    box-shadow: 0px 0px 10px black;
}

#contacts{
    border-color: yellow;
    border-width: 30px;
    border-style: solid;
}


/* Media Queries for Responsiveness */
@media (max-width: 480px) {
    .contacts-content {
        padding: 10px;
    }

    .btn {
        width: 100%;
    }
}   

*{
    caret-color: transparent;
}